
SemEval2024-Task8/SubtaskA/subtaskA_dev_monolingual.jsonl
SemEval2024-Task8/SubtaskA/subtaskA_dev_multilingual.jsonl
SemEval2024-Task8/SubtaskA/subtaskA_train_monolingual.jsonl
SemEval2024-Task8/SubtaskA/subtaskA_train_multilingual.jsonl
subtask_a_monolingual.jsonl
subtask_a_monolingual.zip
*.jsonl
